.spacer {
  flex: 1 1 auto;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: middle;
}

.my-navbar {
  background-color: #3f51b5; /* กำหนดสีที่คุณต้องการตรงนี้ */
  color: white;
}